<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/globalStyle/styles.css">
  <link rel="icon" href="/assets/images/icon.png">
</head>
<body>
    {{>header}}
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
      <h1>{{error}}</h1>
    </div>
    {{>footer}}
</body>
</html>