<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/globalStyle/styles.css" >
  <link rel="icon" href="/assets/images/icon.png">
  <title>About</title>
</head>

<body>
  {{>header}}
  <div class="container">
    <p>This site was created by Gustavo Alves.</p>
    <img src="/assets/images/robot.png" alt="im not a robot" />
    <p>{{description}}</p>
  </div>
  {{>footer}}
  <script src="/web-app/public/assets/">
</body>

</html>