<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/globalStyle/styles.css" >
  <link rel="icon" href="/assets/images/icon.png">
  <title>Help</title>
</head>

<body>
  {{>header}}
  <div class="container">
    <p>
      {{description}}
    </p>
  </div>
  {{>footer}}
</body>

</html>